<div class="mpd-budget">
	<form name="budgetForm">

		<nav class="navbar navbar-inverse navbar-section info">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand" translate>Form</span>
				</div>
				<div>
					<div class="navbar-form navbar-right">
						<div class="btn-group" dropdown ng-if="isEditable">
							<button type="button" class="btn btn-info" dropdown-toggle>
								<span translate>Actions</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li role="menuitem">
									<a href ng-click="addSection()"><span class="glyphicon glyphicon-plus"></span>
										<span translate>Add Section</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="budget-well">
			<div class="line-item">
				<div class="col-xs-3">
					<div class="title" translate>Name</div>
				</div>
				<div class="col-xs-4">
					<input type="text"
						   class="form-control"
						   placeholder="{{'Form Name' | translate}}"
						   ng-model="form.name"
						   ng-disabled="!isEditable">
				</div>
				<div class="col-xs-5" translate>Name of the form.</div>
			</div>

			<div class="line-item">
				<div class="col-xs-3">
					<div class="title" translate>Description</div>
				</div>
				<div class="col-xs-4">
					<input type="text"
						   class="form-control"
						   placeholder="{{'Description' | translate}}"
						   ng-model="form.description"
						   ng-disabled="!isEditable">
				</div>
			</div>

			<div class="line-item">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="form.active" ng-true-value="true" ng-false-value="false" ng-disabled="!isEditable">
							<span translate>Staff may use this form to create budgets.</span>
						</label>
					</div>
				</div>
			</div>

			<div class="line-item">
				<div class="col-xs-3">
					<div class="title" translate>Assessment Formula</div>
				</div>
				<div class="col-xs-4">
					<mpd-formula ng-model="form.assessment_formula"
								 placeholder="{{'Assessment Formula' | translate}}"
								 description="{{'Formula to compute the ministry assessment. Leave empty for no assessment.' | translate}}"
								 disabled="!isEditable"
								 include-subtotal="true"
								 form="form"></mpd-formula>
				</div>
				<div class="col-xs-5" translate>Formula to compute the ministry assessment. Leave empty for no assessment.</div>
			</div>

			<div class="line-item">
				<div class="col-xs-3">
					<div class="title" translate>Subsidy Formula</div>
				</div>
				<div class="col-xs-4">
					<mpd-formula ng-model="form.subsidy_formula"
								 placeholder="{{'Subsidy Formula' | translate}}"
								 description="{{'Formula to compute the subsidy a ministry provides. Leave empty for no subsidy.' | translate}}"
								 disabled="!isEditable"
								 include-subtotal="true"
								 form="form"></mpd-formula>
				</div>
				<div class="col-xs-5" translate>Formula to compute the subsidy a ministry provides. Leave empty for no subsidy.</div>
			</div>

			<div class="line-item">
				<div class="col-xs-3">
					<div class="title" translate>Compliance Statement</div>
				</div>
				<div class="col-xs-4">
					<input type="text"
						   class="form-control"
						   placeholder="{{'Compliance Statement' | translate}}"
						   ng-model="form.compliance"
						   ng-disabled="!isEditable">
				</div>
				<div class="col-xs-5" translate></div>
			</div>

		</div>

		<div ui-sortable="sectionSortableOptions" ng-model="form.sections">
			<div ng-repeat="section in form.sections" ng-init="section.$index = $index + 1">
				<nav class="navbar navbar-inverse navbar-section">
					<div class="container-fluid">
						<div class="navbar-brand move-handle" ng-if="isEditable">
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</div>
						<div class="navbar-header">
							<div class="navbar-form navbar-left">
								<div class="form-group">
									<input type="text"
										   class="form-control"
										   placeholder="{{'Section Title' | translate}}"
										   ng-model="section.name"
										   ng-disabled="!isEditable">
								</div>
							</div>
						</div>
						<div>
							<div class="navbar-form navbar-right">
								<div class="btn-group" dropdown ng-if="isEditable">
									<button type="button" class="btn btn-primary" dropdown-toggle>
										<span translate>Actions</span> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem">
											<a href ng-click="addQuestion(section)"><span class="glyphicon glyphicon-plus"></span>
												<span translate>Add Line Item</span></a>
										</li>
										<li class="divider"></li>
										<li role="menuitem">
											<a href ng-click="removeSection(section)"><span class="glyphicon glyphicon-minus"></span>
												<span translate>Remove Section</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<div class="budget-well sortable" ui-sortable="questionSortableOptions" ng-model="section.questions">

					<div class="line-item" ng-repeat="question in section.questions" ng-init="question.$index = $index + 1">
						<div class="col-xs-1" ng-class="{'move-handle': isEditable}">
							<span class="glyphicon glyphicon-menu-hamburger" ng-if="isEditable"></span>
							<span> {{form.sections.indexOf(section) + 1}}.{{section.questions.indexOf(question) +1 }}</span>
						</div>

						<div class="col-xs-4 question-name">
							<input type="text"
								   class="form-control"
								   placeholder="{{'Line Item' | translate}}"
								   ng-model="question.name"
								   ng-disabled="!isEditable">

							<input type="text"
								   class="form-control"
								   placeholder="{{'Description' |translate}}"
								   ng-model="question.help"
								   ng-disabled="!isEditable">
						</div>

						<div class="col-xs-3">
							<select class="form-control"
									ng-model="question.type"
									ng-disabled="!isEditable">
								<option value="basic_month" translate>Monthly GROSS</option>
								<option value="net_month" translate>Monthly NET</option>
								<option value="basic_year" translate>Yearly GROSS</option>
								<option value="net_year" translate>Yearly NET</option>
								<option value="calculated" translate>Calculated</option>
							</select>

							<mpd-formula ng-model="question.min"
										 placeholder="{{'Minimum' | translate}}"
										 disabled="!isEditable"
										 form="form"></mpd-formula>
						</div>
						<div class="col-xs-3" ng-switch="question.type">
							<!-- && (question.type == 'net_month' || question.type == 'net_year' || question.type == 'calculated') )-->
							<mpd-formula ng-switch-when="net_month"
										 ng-model="question.formula"
										 name="{{question.name}}"
										 placeholder="{{'Net Month Formula' | translate}}"
										 description="{{'Formula to compute the Monthly TAX from the user entered NET (after tax) value such that NET + TAX = GROSS.' | translate }}"
										 disabled="!isEditable"
										 include-net="true"
										 form="form"></mpd-formula>
							<mpd-formula ng-switch-when="net_year"
										 ng-model="question.formula"
										 name="{{question.name}}"
										 placeholder="{{'Net Year Formula' | translate}}"
										 description="{{'Formula to compute the Yearly TAX value from the user entered NET (after tax) value such that NET + TAX = GROSS.' | translate }}"
										 disabled="!isEditable"
										 include-net="true"
										 form="form"></mpd-formula>
							<mpd-formula ng-switch-when="calculated"
										 ng-model="question.formula"
										 name="{{question.name}}"
										 placeholder="{{'Calculated Formula' | translate}}"
										 description="{{'Formula to compute the GROSS value from other fields on the form.' | translate }}"
										 disabled="!isEditable"
										 form="form"></mpd-formula>
							<mpd-formula ng-switch-default
										 ng-model="question.formula"
										 name="{{question.name}}"
										 placeholder="{{'Formula' | translate}}"
										 disabled="true"
										 form="form"></mpd-formula>

							<mpd-formula ng-model="question.max"
										 placeholder="{{'Maximum' | translate}}"
										 disabled="!isEditable"
										 form="form"></mpd-formula>
						</div>
						<div class="col-xs-1">
							<div class="btn-group pull-right" dropdown ng-if="isEditable">
								<button type="button" class="btn btn-default" dropdown-toggle>
									<span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="menuitem">
										<a href ng-click="removeQuestion(section, question)"><span class="glyphicon glyphicon-minus"></span>
											<span translate>Question</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="well" ng-transclude></div>
	</form>
</div>
