<div>
	<div class="modal-header">
		<h3 class="modal-title" translate>Reject a Budget</h3>
	</div>
	<div class="modal-body">
		<p translate>Rejecting this budget will return it to a Draft. The person will have the ability to make modifications and re-submit the budget.</p>

		<p translate>Please confirm you want to reject this budget.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="reject()">Reject Budget</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
